* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  /* width: 200px; */
  width: 25%;
  /* width: 30%; */
  height: 200px;
  border: solid 2px black;
  color: #fff;
  font-size: 30px;
}
.box1 {
  background-color: green;
}
.box2 {
  background-color: red;
}
.box3 {
  background-color: blue;
}
.box4 {
  background-color: teal;
}
.box5 {
  background-color: sandybrown;
}

.boxes_container {
  /* width: 80%;
  margin: auto; */
  background-color: yellow;
  padding: 20px 0;
  height: 700px;
  display: flex;

  /* ჰორიზონტალური განაწილება */
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  justify-content: space-between;

  /* ვერტიკალური განაწილება */
  /*align-items: flex-end; */
  align-items: center;

  /* ჩამოტეხვა, როცა 100%-ს გადაცდება */
  /* flex-wrap: wrap-reverse; */
  flex-wrap: wrap;

  /* მიმართულება  */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* flex-direction: column; */
}
