* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: #fafad2;
  /* height: 100vh; */
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form {
  background-color: white;
  margin: auto;
  width: 800px;
  /* height: 700px; */
  /* padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px; */
  padding: 30px 20px 30px 20px;
  border: solid 2px black;
  border-radius: 10px;
}

fieldset {
  padding: 10px;
  margin-bottom: 10px;
}

.text1 {
  text-align: center;
  margin-bottom: 25px;
}
.text2 {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-left: 20px;
}
.text3 {
  margin-bottom: 10px;
}
.text4 {
  /* margin-left: 20px; */
}
.text5 {
  margin-left: 20px;
  margin-top: 15px;
}
.text5 {
  margin-top: 20px;
}
.text6 {
  margin-left: 20px;
  margin-top: 40px;
}
.text6 {
  margin-bottom: 20px;
}
.text7 {
  margin-left: 20px;
}
.text9 {
  margin-left: 20px;
  margin-top: 20px;
}
.text10 {
  margin-top: 30px;
  margin-left: 20px;
}
.text11 {
  margin-left: 20px;
  margin-top: 20px;
}
.text11 textarea {
  min-height: 100px;
  width: 50%;
}

input[type="file"] {
  display: none;
}

.attach {
  background-color: red;
  color: #fff;
  padding: 5px;
}
.centeredText {
  text-align: center;
}
.text11 button {
  background-color: red;
  color: #fff;
  padding: 5px;
}
